.Proprio-comp {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.ProprioPicture {
    display: flex;
    margin-left: 10px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #C4C4C4;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.Proprio-name {
    display: flex;
    align-items: center;
    width: 93px;
    height: 66px;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.426; 
}