.flecheG, .flecheD {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.flecheG {
    left: 10px;
}

.flecheD {
    right: 10px;
}

@media (max-width: 768px) {
    .flecheG {
        width: 11.67px;
        height: 19.8px;
    }

    .flecheD {
        width: 11.67px;
        height: 19.8px;
    }

    .slide-number {
        display: none;
    }
}