.nav-container {
    display: flex;
    gap: 60px;
    margin-right: 10px;
    margin-bottom: -30px;
  }
  
  .nav-header_link-home,
  .nav-header_link-about {
    color: #000000;
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
  }
  
  .nav-header_link-home:hover,
  .nav-header_link-about:hover {
    text-decoration: underline;
  }

  @media (min-width: 319px) and (max-width: 323px) {
    .nav-container,
    .nav-header_link-home,
    .nav-header_link-about {
        gap: 10px;
        margin-left: 1px; 
        font-size: 14px;
    }
  }

  @media (min-width: 374px) and (max-width: 376px) {
    .nav-container,
    .nav-header_link-home,
    .nav-header_link-about {
        gap: 10px;
        margin-left: 8px; 
        font-size: 14px;
    }
  }

  @media (min-width: 424px) and (max-width: 426px) {
    .nav-container,
    .nav-header_link-home,
    .nav-header_link-about {
        gap: 10px;
        margin-left: 10px; 
        font-size: 14px;
    }
  }